body {
    width: 80%;
    margin: 0 auto;
}

.displayArea {
    width: 100%;
    margin-top: 1rem;

    border: 1px solid rgb(220,220,210);
}

[data-path] {
    margin: 0.5rem;
    padding: 0.5rem;
    border: 1px solid rgb(230,230,230);
}

[data-key]::before {
    content: ' ' attr(data-key);
}

[data-value]::after {
    content: ' : ' attr(data-value);
}

[data-hidden='true'] > div {
    display:none;
}

div > button {
    margin-left: 1rem;
}

[data-hidden='true'] > button::after {
    content: '+';
}

div > button::after {
    content: '-';
}